:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0;
  display: flex; /* Set up flexbox for the containers */
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.alert {
  font-size: 1em; /* Adjust the size as needed */
}

#hours {
  padding: 1em;
  border-radius: 20px;
  color: #f9f9f9;
}

#hours p {
  font-size: 20px;
}

/* Layout styling */
.container-left {
  flex: 2; /* 1 part out of 4 */
  background-color: #1a1a1a; /* Example color for the left container */
  padding: 1em;
  color: #ffffff;
  overflow: hidden; /* Prevent overflow */
  max-width: 100%; /* Ensure it stays within parent width */
  box-sizing: border-box; /* Include padding in width/height */
}

.container-right {
  flex: 5; /* 3 parts out of 4 */
  background-color: #ffffff; /* Example color for the right container */
  padding: 1em;
  color: #000000;
  overflow: hidden; /* Prevent overflow */
  max-width: 100%; /* Ensure it stays within parent width */
  box-sizing: border-box; /* Include padding in width/height */
}

