:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0;
  display: flex; /* Set up flexbox for the containers */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#hours {
  padding: 1em;
  border-radius: 20px;
  color: #f9f9f9;
}

/* Layout styling */
.container-left {
  flex: 2; /* 1 part out of 4 */
  background-color: #1a1a1a; /* Example color for the left container */
  padding: 1em;
  color: #ffffff;
  overflow: hidden; /* Prevent overflow */
  max-width: 100%; /* Ensure it stays within parent width */
  box-sizing: border-box; /* Include padding in width/height */
}

.container-right {
  flex: 5; /* 3 parts out of 4 */
  background-color: #ffffff; /* Example color for the right container */
  padding: 1em;
  color: #000000;
  overflow: hidden; /* Prevent overflow */
  max-width: 100%; /* Ensure it stays within parent width */
  box-sizing: border-box; /* Include padding in width/height */
}

